.mainPlacement{
	color:white;
	font-family: 'Abel';
	width: 1720px;
}

.portrait {
	top:380px;
	left:185px;
	position: relative;
	width: 1720px;
	height: 220px;
}
.small {
	width: 200px;
	height:250px;
	margin-left:5px;
}

#p1 {
	position:relative;
	font-size:24px;
	top:120px;
	left:160px;
}

body {
	background-image:url(houseArrynBG.jpg);
	background-repeat:no-repeat;
}

#throne {
	position: absolute;
	left:2px;
	top: 15px;
	opacity:0.8;
}

#throne:hover{
	opacity:1;
}

.sigilPlacement {
	position: relative;
}

#stark {
	position: absolute;
	left : 20px;
	top: 150px;
	opacity:0.8;
}

#stark:hover{
	opacity:1;
}

#arryn {
	position: absolute;
	left : 20px;
	top: 250px;
	opacity:0.8;
}

#arryn:hover{
	opacity:1;
}

#tully {
	position: absolute;
	left : 20px;
	top: 350px;
	opacity:0.8;
}

#tully:hover{
	opacity:1;
}

#greyjoy {
	position: absolute;
	left : 20px;
	top: 450px;
	opacity:0.8;
}

#greyjoy:hover{
	opacity:1;
}

#lannister {
	position: absolute;
	left : 20px;
	top: 550px;
	opacity:0.8;
}

#lannister:hover{
	opacity:1;
}

#baratheon {
	position: absolute;
	left : 20px;
	top: 650px;
	opacity:0.8;
}

#baratheon:hover{
	opacity:1;
}

#tyrell {
	position: absolute;
	left : 20px;
	top: 750px;
	opacity:0.8;
}

#tyrell:hover{
	opacity:1;
}

#martell {
	position: absolute;
	left : 20px;
	top: 850px;
	opacity:0.8;
}

#martell:hover{
	opacity:1;
}